@font-face {
    font-family: Roboto;
    font-weight: 400;
    font-feature-settings: 'liga' off, 'clig' off;
    src: url("../static/fonts/Roboto.woff"),
    url("../static/fonts/Roboto.woff2");
}

@font-face {
    font-family: Roboto;
    font-weight: 500;
    font-feature-settings: 'liga' off, 'clig' off;
    src: url("../static/fonts/Robotobold.woff"),
    url("../static/fonts/Robotobold.woff2");
}
